.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url(../images/heart-icon-liked.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/heart-icon-liked-faded.svg);
}

.card__title {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: fit-content;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 1px;
    max-width: 264px;
    /* Had to add padding bottom to fix the line height isnt enought to fit the letter "g" causing the title to break */
  }
}
