.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "Poppins", "Arial", sans-serif;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__exit-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.modal__exit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 32px;
  font-family: "Poppins", "Arial", sans-serif;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__input {
  padding: 16px 12px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #212121;
  opacity: 40%;
  margin-bottom: 32px;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__save-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 8px;
  font-family: "Poppins", "Arial", sans-serif;
}

.modal__save-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__exit-btn {
    right: 12px;
    top: 12px;
  }

  .modal__input {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal__save-btn {
    width: 100%;
  }
}
