.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: "Poppins", "Arial", sans-serif;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  object-fit: contain;
  max-width: fit-content;
  background-color: transparent;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  max-width: fit-content;
  max-height: fit-content;
  top: 100%;
  left: 0;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  line-height: 24px;
  background-color: #000000;
  color: #ffffff;
}

.modal__exit-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 22.63px;
  height: 22.63px;
  display: flex;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/exit.svg);
}

.modal__exit-btn_type_preview {
  background-image: url(../images/close-light.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
  cursor: pointer;
}

.modal__exit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 32px;
  font-family: "Poppins", "Arial", sans-serif;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__input {
  padding: 16px 12px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #212121;
  opacity: 40%;
  margin-bottom: 32px;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 100%;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
}

.modal__input_type_error {
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  border: 1px solid #ff000099;
}

.modal__error {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 17.6px;
  color: #ff0000;
  margin-top: -32px;
  margin-bottom: 24px;
}

.modal__save-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 8px;
  font-family: "Poppins", "Arial", sans-serif;
}

.modal__save-btn_disabled {
  opacity: 40%;
  cursor: not-allowed;
}

.modal__save-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__exit-btn {
    right: 12px;
    top: 12px;
  }

  .modal__input {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal__save-btn {
    width: 100%;
  }

  .modal__container_type_preview {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .modal__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .modal__exit-btn_type_preview {
    top: -35px;
    right: 6px;
  }
}
