.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}

.profile__picture {
  margin-right: 20px;
  border-radius: 10%;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  font-weight: bold;
}

.profile__description {
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #212121b2;
}

.profile__edit-btn {
  margin-top: auto;
  width: 107.34px;
  height: 16px;
  gap: 8px;
  opacity: 0.7;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-right: auto;
  color: #212121;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  border: none;
  position: fixed;
  margin: 138px 0 20px 1131px;
  display: flex;
  align-items: center;
  justify-content: center;
}
