.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  color: #212121b2;
}
